<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/error.css}">
</head>

<body>
	<form th:action="@{/login}" method="post">

		<div class="error">
			<p th:text="${LoginError}"></p>
		</div>

		<table align="center" border="1">
			<tr>
				<th>Eメール</th>
				<td><input type="email" name="email"></td>
<!--				<td>-->
<!--					<div class="error" th:errors="*{email}"></div>-->
<!--				</td>-->

			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="password" name="password"></td>
<!--				<td>-->
<!--					<div class="error" th:errors="*{password}"></div>-->
<!--				</td>-->
			</tr>


			<tr>
				<td><input type="submit" value="送信"></td>
			</tr>
	</form>

	<form th:action="@{/insert}" method="post">

		<td><input type="submit" value="登録画面へ"></td>
		</tr>
		</table>
	</form>



</body>

</html>