<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/error.css}" >
</head>
<body>
	<div style="text-align:center;">
		<h2>会員情報一覧</h2><br>
		
		<form th:action="@{/selectMember}" th:object="${MemberDTO}" method="get">
			<p>詳細検索</p>
			名前：<input type="text" th:field="*{name}">
			性別：<input type="text" th:field="*{gender}">
			Eメール：<input type="text" th:field="*{email}">
			住所：<input type="text" th:field="*{address}">
		
<!--	ソート機能 この中でソートする文言を選んでcontroller側に渡している-->
			<select th:field="*{sort}">
				    <option value="">選択してください</option>
					<option value="kana">名前</option>
					<option value="birthday">誕生日</option>
				</select>
				
				<select th:field="*{order}">
					<option value="">選択してください</option>
				    <option value="desc">降順</option>
					<option value="asc">昇順</option>
				</select>
			
			<br>
			<p>趣味検索</p>
			<select th:field="*{hobbyName}">
					<option value="">選択してください</option>
				    <option value="読書">読書</option>
					<option value="ゲーム">ゲーム</option>
					<option value="ランニング">ランニング</option>
					<option value="食べ歩き">食べ歩き</option>
			</select>
				
			<input type="submit" value="検索">
			
			<p class="error" th:text="${serchError}"></p>
		</form>	
		
		<p th:text="${deleteSuccess}"></p>
		<p class="error" th:text ="${deleteError}"></p>
			
	<table border="1">
		<tr>
			<th>氏名</th>
			<th>氏名（フリガナ）</th>
			<th>	性別</th>	
			<th>誕生日</th>
			<th>Eメール</th>
			<th>	パスワード</th>
			<th>電話番号</th>
			<th>郵便番号</th>
			<th>住所</th>
			<th>趣味</th>
			<th>更新ボタン</th>
			<th>削除ボタン</th>
		</tr>
		
		<tr th:each = "list : ${memberList}">
			
			<td th:text = "${list.name}"></td>
			<td th:text = "${list.kana}"></td>
			<td th:text = "${list.gender}"></td>
			<td th:text = "${list.birthday}"></td>
			<td th:text = "${list.email}"></td>
			<td th:text = "${list.password}"></td>
			<td th:text = "${list.phoneNumber}"></td>
			<td th:text = "${list.postalCode}"></td>
			<td th:text = "${list.address}"></td>
			<td th:text = "${list.hobbyName}"></td>
			
			<form th:action="@{/update}" method="post">
				<td>
					<input type="hidden" name = "userId" th:value="${list.userId}">
					<input type="submit" value="更新"></td>
			</form>		
			
			<form th:action="@{/delete}" method="post">
				<td>
					<input type="hidden" name = "userId" th:value="${list.userId}">
					<input type="submit" value="削除"></td>
			</form>
			
			
			
		</tr>
	
	</table>
<!--	この部分で「int page」に値を返している-->
<!--検索した値を保持、「MemberDTO.」に検索結果を収納させて画面が切り替わっても保持される

◇保持の流れ
検索実行
	↓
MemberDTOに検索条件が入る
	↓
タイムリーフがURLを作成する
	↓
?page=2&name=田中...とURLに表示される
	↓
検索ボタンが押されるとController が再度受け取り、またMemberDTOに再度入れ込む

-->
	<a th:href="@{/selectMember(
		page=1,
		    name=${MemberDTO.name},
		    gender=${MemberDTO.gender},
		    email=${MemberDTO.email},
		    address=${MemberDTO.address},
			sort=${MemberDTO.sort},
			order=${MemberDTO.order}
		)}">1</a>　
		
	<a th:href="@{/selectMember(
		page=2,
		    name=${MemberDTO.name},
		    gender=${MemberDTO.gender},
		    email=${MemberDTO.email},
		    address=${MemberDTO.address},
			sort=${MemberDTO.sort},
			order=${MemberDTO.order}
			)}">2</a>　
			
	<a th:href="@{/selectMember(
		page=3,
		    name=${MemberDTO.name},
		    gender=${MemberDTO.gender},
		    email=${MemberDTO.email},
		    address=${MemberDTO.address},
			sort=${MemberDTO.sort},
			order=${MemberDTO.order}
	)}">3</a>　
	
	<a th:href="@{/selectMember(
		page=4,
		    name=${MemberDTO.name},
		    gender=${MemberDTO.gender},
		    email=${MemberDTO.email},
		    address=${MemberDTO.address},
			sort=${MemberDTO.sort},
			order=${MemberDTO.order}
	)}">4</a>
	
	<br>
	<form th:action="@{/csv}" method="get">
		
<!--		ページの番号受取用-->
		<input type="hidden" name="page" th:value="${param.page}">
		<input type="submit" value="CSV出力">
		
	</form>		
</div>
</body>
</html>