<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	
	<!-- CSRFトークン SpringSecurityで認可させるために必要   -->
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	
	<title>JSON方式会員情報一覧</title>
</head>

<body>
	<div style="text-align:center;">
		<h2>会員情報一覧</h2><br>

		<p>詳細検索</p>
		名前：<input type="text" id="name">
		性別：
		<select id="gender">
			<option value="">選択してください</option>
			<option value="男">男</option>
			<option value="女">女</option>
		</select>
		住所：<input type="text" id="address">
		Eメール：<input type="text" id="email">

		<br>
		ソート：
		<select id="sort">
			<option value="">選択してください</option>
			<option value="kana">名前</option>
			<option value="birthday">誕生日</option>
		</select>

		昇順・降順：
		<select id="order">
			<option value="">選択してください</option>
			<option value="desc">降順</option>
			<option value="asc">昇順</option>
		</select>

		<br>
		<br>
		<button onclick="search()">検索</button>
		<br>
		<!--
	<tbody>タグは表の「データ部分」を表す　
	※表だけを更新させたいときに使う
	idで紐づける事でJavascriptと連携させる
-->
		<table border="1">

			<tr>
				<th>氏名</th>
				<th>氏名（フリガナ）</th>
				<th> 性別</th>
				<th>誕生日</th>
				<th>Eメール</th>
				<th> パスワード</th>
				<th>電話番号</th>
				<th>郵便番号</th>
				<th>住所</th>
				<th>趣味</th>
				<th>更新画面へ</th>
			</tr>

			<tbody id="memberList">

			</tbody>

		</table>
		<button onclick="backPage()">前のページ</button>
		<button onclick="nextPage()">次のページ</button>
	</div>
	<script>

		//js側にも認可をさせるためにHTMLから値を受け取る
		const token = document.querySelector('meta[name="_csrf"]').content;
		const header = document.querySelector('meta[name="_csrf_header"]').content;
	
		//「window.onload = function()」で画面に入った瞬間に実行
		window.onload = function () {
			
			fetch("/memberListJson", {

				method: "POST",

			//Spring Securityにトークンを渡す
				headers: {
					[header]: token,
					"Content-Type": "application/json"
				},

				//空のデータを受け取っている状態（controller側に「@RequestBody MemberDTO dto」も入力値があるため）
				//ページの初期値はここで入れ込む
				body: JSON.stringify({page:currentPage})

			})

				.then(response => response.json())


				//dataに戻り値を入れている
				.then(data => {

					//更新した画面を入れるための箱	
					let html = "";

					//listに格納したデータを取り出すために変数に入れ込む	
					data.forEach(member => {

						console.log(member);

						html += `
					
					<tr>
						<td>${member.name}</td>
						<td>${member.kana}</td>
						<td>${member.gender}</td>
						<td>${member.birthday}</td>
						<td>${member.email}</td>
						<td>${member.password}</td>
						<td>${member.phoneNumber}</td>
						<td>${member.postalCode}</td>
						<td>${member.address}</td>
						<td>${member.hobbyName}</td>
						<td><button onclick="update('${member.userId}')">更新</button></td>
						<td><button onclick="deleteJson('${member.userId}')">削除</button></td>
					</tr>
					
					`;

					});
					//画面更新が実行される
					document.getElementById("memberList").innerHTML = html;
				})
				.catch(error => {

					console.error("エラー:", error);
					alert(error.message || "データの取得に失敗しました");
				});
		}
		/*
		【間違いやすいところ】
		・<button onclick="update('${member.userId}')">について
		JSON方式で一つのデータを持っていく場合、「''」で囲わないと文字列として認識されない
		
		('${member.userId}') = "001"
		(${member.userId}) = 1 
		となる
		*/
		function searchRetention() {

			//検索内容を独立させ、リターンでその他のメソッドでも使える
			return {
				name: document.getElementById("name").value,
				gender: document.getElementById("gender").value,
				address: document.getElementById("address").value,
				email: document.getElementById("email").value,
				sort: document.getElementById("sort").value,
				order: document.getElementById("order").value,
			}
		}

		function search() {
			/*
			constについて
			const i = 2; 
			i = 3; 変数そのものを再代入するとエラーとなる
			
			retention.page = currentPage;のようにpageプロパティを新しく追加しているのならOK
			イメージ：
			MemberDTO member = new MemberDTO();
			member.page(1);
			→これと同じ作用が起きている
			*/
			const retention = searchRetention();
			retention.page = currentPage;

			fetch("/memberListJson", {

				method: "POST",

				headers: {
					[header]: token,
					"Content-Type": "application/json"
				},

				//HTMLで指定したidによってJavascriptと紐づけている
				//ここに入力値が入る
				body: JSON.stringify(retention)

			})
				//↓controller側の戻り値をjson化
				.then(response => {

					//controllerで例外が返ってきたら例外を投げる
					if (!response.ok) {
						return response.json().then(error => {throw error;});
					}

					return response.json();
				})

				//ここでcontroller側で指定した戻り値が入り、処理を行う（ループ処理や）
				.then(data => {
					//更新した画面を入れるための箱	
					let html = "";

					//listに格納したデータを取り出すために変数に入れ込む	
					data.forEach(member => {

						html += `
											
						<tr>
							 <td>${member.name}</td>
							 <td>${member.kana}</td>
							 <td>${member.gender}</td>
							 <td>${member.birthday}</td>
							 <td>${member.email}</td>
							 <td>${member.password}</td>
							 <td>${member.phoneNumber}</td>
							 <td>${member.postalCode}</td>
							 <td>${member.address}</td>
							 <td>${member.hobbyName}</td>
							 <td><button onclick="update('${member.userId}')">更新</button></td>
							 <td><button onclick="deleteJson('${member.userId}')">削除</button></td>
						 </tr>
											
					`;

					});
					//更新が実行される
					document.getElementById("memberList").innerHTML = html;

				});

		}
		let currentPage = 1;

		function nextPage() {

			currentPage++;

			search();

		}

		function backPage() {

			currentPage--;

			search();
		}
		//	ここでupdate(${member.userId})引数を入れ込む
		function update(userId) {

			//seach()で代入されたuserIdが入る
			location.href = "/updateChage?userId=" + userId;
			//  →アップデート画面にある new URLSearchParams(location.search);で、
			//    location.search ＝ ?userId=" + userId が入る
		}
		function deleteJson(userId) {
			fetch("/deleteJson", {

				method: "POST",

				headers: {
					[header]: token,
					"Content-Type": "application/json"
				},

				body: JSON.stringify({userId: userId})

			})

				.then(response => response.json())
				.then(data => {

					if (data.deleteflag != 0) {

						location.href = "/change"
					}
				}
				)
		}
	</script>

</body>

</html>