<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.demo.mapper.MemberMapper">

<!--全件取得-->
<!--<select id="findAll" resultType="com.example.demo.dto.MemberDTO">-->

<!--SELECT-->
<!--    user_id AS userId, -->
<!--    name, -->
<!--    kana, -->
<!--    gender, -->
<!--    birthday, -->
<!--    email, -->
<!--    password, -->
<!--    phone_number AS phoneNumber, -->
<!--    postal_code AS postalCode, -->
<!--    address -->
<!--FROM-->
<!--    t_users -->
<!--ORDER BY-->
<!--    user_id-->
<!--LIMIT-->
<!--    10 10件づつ表示  -->
<!--OFFSET-->
<!--    #{offset} ページ数の管理-->
<!--</select>-->

<!--曖昧検索機能-->
<select id="serchMember" parameterType="com.example.demo.dto.MemberDTO" resultType="com.example.demo.dto.MemberDTO">

SELECT
    user_id AS userId,
    name,
    kana,
    gender,
    birthday,
    email,
    password,
    phone_number AS phoneNumber,
    postal_code AS postalCode,
    address 
FROM
    t_users

<where>

<!--この条件が true なら、そのSQLを出力する -->
<if test="name != null and name != ''">
 <!--()で囲む事でより細かな条件を付け加えることができる -->
    AND (
        name LIKE '%' || #{name} || '%'
         <!--名前検索でカタカナでも適用させる（kana=nameみたいなイメージ） -->
        OR kana LIKE '%' || #{name} || '%'
        )
</if>
<if test="gender != null and gender != ''">
    AND gender LIKE '%' || #{gender} || '%'
</if>
<if test="address != null and address != ''">
    AND address LIKE '%' || #{address} || '%'
</if>
<if test = "email !=null and email != ''">
    AND email LIKE '%' || #{email} || '%'
</if>

</where>

<!-- 
<choose>で囲むことでswitch文と同じ作用ができる/複数書くことでより細かな条件を付け加えられる
<when>はelse if文と同じ作用となり、選ばなければ作用しない状態になる
 -->
<choose>

<!--"name".equals(sort)で同じ名前のものが入っているか確認される-->
<when test='"kana".equals(sort)'>
    ORDER BY kana
</when>
<when test='"birthday".equals(sort)'>
    ORDER BY birthday
</when>
<otherwise>
    ORDER BY user_id
</otherwise>

</choose>

<choose>

<when test='"desc".equals(order)'>
    DESC
</when>
<otherwise>
    ASC
</otherwise>

</choose>

LIMIT
    10 <!--10件づつ表示  -->
OFFSET
    #{offset} <!--ページ数の管理-->

</select>

<!--userIdから一件だけ取得-->
<select id="memberList" resultType = "com.example.demo.dto.MemberDTO">

SELECT
    user_id AS userId, 
    name, 
    kana, 
    gender, 
    birthday, 
    email, 
    password, 
    phone_number AS phoneNumber, 
    postal_code AS postalCode, 
    address 
FROM
    t_users
WHERE
    user_id = #{userId}
    
</select>

<!--更新実行-->
<update id="updateMember" parameterType="com.example.demo.dto.UpdateDTO">

UPDATE t_users
SET
    name = #{name}, 
    kana = #{kana}, 
    email = #{email}, 
    password = #{password}, 
    birthday = #{birthday}, 
    gender = #{gender}, 
    phone_number = #{phoneNumber}, 
    postal_code = #{postalCode}, 
    address = #{address}, 
    updated_at = CURRENT_TIMESTAMP 
WHERE
    user_id = #{userId}

</update>

<!--削除機能-->
<delete id="deleteMember">

DELETE 
FROM 
    t_users
WHERE
    user_id = #{userId}

</delete>

</mapper>