<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--ここでマッパーを接続させる-->
<mapper namespace="com.example.demo.mapper.UserMapper">



<insert id = "insert" parameterType= "com.example.demo.dto.UserDTO">

	INSERT 
	INTO m_users(name, kana, email, password, birthday_date) 
	VALUES ( 
    		#{name},
    		#{kana},
    		#{email},
    		#{password},
    		#{birthDate});

</insert>

<insert id="insertJson"  parameterType= "com.example.demo.dto.InsertDTO">

INSERT 
INTO t_users( 
    name, 
    kana, 
    gender, 
    birthday, 
    email, 
    password, 
    phone_number, 
    postal_code, 
    address, 
    hobby_id
) 
VALUES ( 
    #{name}, 
    #{kana}, 
    #{gender}, 
    #{birthday}, 
    #{email}, 
    #{password}, 
    #{phoneNumber}, 
    #{postalCode}, 
    #{address}, 
    #{hobby}
)


</insert>

</mapper>